@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "post.scss";
@import "contact.scss";
@import "footer.scss";
@import "bootstrap-overrides.scss";

#newFeedsContainer {
  .previewImage {
    width: 12rem;
    height: 12rem;
    @media only screen and (max-width: 991px) {
      margin-top: 3rem;
      width: 12rem;
    }
  }

  .preview-sub-smaller {
    font-size: 1.5rem;
  }
}

.bannerLogo {
  width: 30rem;
  @media only screen and (max-width: 991px) {
    width: 20rem;
  }
  @media only screen and (max-width: 320px) {
    width: 10rem;
  }
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-left: 50%;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}